<div class="about-me-container">
    <div class="left-container">
        <div class="profile-container">
            <img src="../../../assets/images/profile.png">
        </div>

        <div class="social-container">
            <button class="btn resume-button"><i class="fa fa-file resume-icon"></i>Resume</button>
        </div>
    </div>
    <div class="right-container">
        <div class="right-left-container">
            <div class="experienced-header">
                <h3>Worked With:</h3>
            </div>
            <div class="experienced">
                <div class="tech-item" *ngFor="let item of items">
                    <span>
                        <li>
                            {{item.tech}}
                        </li>
                    </span>
                </div>
            </div>
        </div>

        <!-- <div class="right-right-container">

        </div> -->
    </div>
</div>