.about-me-container {
    background-image: linear-gradient(#020f16, #0a2830);

    .about-me-inner-container {
        padding: 5% 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;

        .left-container {
            margin: auto;
            text-align: center;
            flex-basis: 50%;
        }

        .right-container {
            display: flex;
            flex-direction: row;
            height: inherit;
            width: 100%;
            flex-basis: 50%;

            .right-left-container {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                height: inherit;
                justify-content: center;

                .about-me-header {
                    color: white;
                }

                .experienced-header {
                    color: white;
                }

                .experienced {
                    display: flex;
                    flex-wrap: wrap;
                    color: white;

                    .tech-item {
                        width: 45%;
                    }
                }
            }

            .right-right-container {
                margin: auto;
                height: inherit;
            }
        }
    }
}

.social-container {
    padding-top: 3%;

    .resume-button {
        background-color: lightblue;
        font-size: 20px;
        font-family: monospace;

        &:hover {
            background-color: #cc6b8e;
        }
    }
}

.resume-icon {
    padding-right: 5px;
}

.profile-container {
    padding-bottom: 2%;

    img {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .about-me-container {
        .about-me-inner-container {
            padding: 5% 0;
            height: auto;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .left-container {
                text-align: center;

                margin: unset;
                flex-basis: unset;
            }

            .right-container {
                flex-basis: unset;
                height: unset;
                padding-top: 3%;

                .right-left-container {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    height: inherit;
                    justify-content: center;
                    padding-left: 15%;
                    padding-right: 15%;

                    .about-me-header {
                        color: white;
                    }

                    .experienced-header {
                        color: white;
                    }

                    .experienced {
                        display: flex;
                        flex-wrap: wrap;
                        color: white;

                        .tech-item {
                            width: 50%;
                        }
                    }
                }

                .right-right-container {
                    margin: auto;
                    height: inherit;
                }
            }
        }
    }

    @media (max-width: 390px) {
        .about-me-container {
            .about-me-inner-container {
                padding: 5% 0;
                height: auto;
                justify-content: center;
                display: flex;
                flex-direction: column;

                .left-container {
                    text-align: center;

                    margin: unset;
                    flex-basis: unset;
                }

                .right-container {
                    flex-basis: unset;
                    height: unset;
                    padding-top: 3%;

                    .right-left-container {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 100%;
                        height: inherit;
                        justify-content: center;
                        padding-left: 15%;
                        padding-right: 15%;

                        .about-me-header {
                            color: white;
                        }

                        .experienced-header {
                            color: white;
                        }

                        .experienced {
                            display: flex;
                            flex-wrap: wrap;
                            color: white;

                            .tech-item {
                                width: 50%;
                            }
                        }
                    }

                    .right-right-container {
                        margin: auto;
                        height: inherit;
                    }
                }
            }
        }
    }
}
