<div class="about-me-container">
<div class="about-me-inner-container">
    <div class="left-container">
        <div class="profile-container">
            <img src="assets/images/profile.png">
        </div>

        <div class="social-container">
            <a class="btn resume-button" href="assets/files/Va_Phi_Resume.pdf" target="_blank">
                <i class="fa fa-file resume-icon"></i>Resume
            </a>
        </div>

    </div>
    <div class="right-container">
        <div class="right-left-container">
            <div class="experienced-header">
                <h3>Worked With:</h3>
            </div>
            <div class="experienced">
                <div class="tech-item" *ngFor="let item of items">
                    <span>
                        <li>
                            {{item.tech}}
                        </li>
                    </span>
                </div>
            </div>
        </div>

        <!-- <div class="right-right-container">

        </div> -->
    </div>
    </div>
</div>