<div class="home-container">
    <ng-template ngFor let-item [ngForOf]="createRange(100)">
        <div class="circle-container">
            <div class="circle">
            </div>
        </div>
    </ng-template>
    <div class="welcome">
        <div class="welcome-container">
            <h1 class="welcome-text">Welcome To Va's Portfolio</h1>
        </div>
        <div class="socials">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/vaphi/" target="_blank">
                    <img class="linkedin-img" src="../../../assets/images/linkedin1.png">
                </a>
            </div>
            <div class="github">
                <a href="https://github.com/vaphi" target="_blank">
                    <img class="github-img" src="../../../assets/images/github1.png">
                </a>
            </div>
        </div>
    </div>
</div>