.projects-container {
    padding-top: 5.1vh;
    display: flex;
    justify-content: center;
    width: 100%;
    // height: 100vh;
    background-image: linear-gradient(#0a2830, #52435e);
    display: flex;
    flex-direction: column;
}

.construction {
    margin: auto;
    text-align: center;
    img {
        width: 15%;
    }
}

.heading {
    font-family: "ArcadeClassic", sans-serif;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs {
    color: white;
    height: 85vh;
}

.tab {
    color: white;
}

::ng-deep .mat-mdc-tab-body {
    height: 71vh;
}

::ng-deep .mat-tab-list {
    margin: auto;
    flex-grow: unset;
}

.anidata-pics-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-container {
    width: 90%;
    margin: 0 auto;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    border: solid #667b68 3px;
    border-radius: 8px;
}

.mat-mdc-card-content {
    padding: unset;
}

.mat-mdc-card-header {
    padding: unset;
    color: black;
    font-size: x-large;
}

.mat-mdc-card-content:last-child {
    padding: unset;
}

.card-header {
    text-align: center;
}

::ng-deep .mat-mdc-tab-body-content {
    overflow-x: hidden !important;
}

.sample-img {
    width: 100%;
}

.chip {
    color: white;
}

.button-website {
    text-align: center;

    button {
        margin: 5px;
    }
}

::ng-deep .mdc-tab__text-label {
    color: white !important;
}

.anidata-description {
    width: 100%;
}

.card-container {
    width: 100%;
}

#carouselAniDataIndicators {
    margin: 2% 5%;
}

#carouselRecipeIndicators {
    margin: 2% 5%;
}

.carousel-item {
    height: 70%;
    text-align: center;
}

.img {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100% !important;
}

.recipelist-project-label {
    color: white;
    margin: auto;
}

.btn-group.recipe {
    margin: 0 10%;

    .btn.btn-success {
        margin: 0 2%;
    }

    .btn.btn-success.middle {
        border-radius: 5px;
    }

    .btn.btn-success.right {
        border-radius: 5px;
    }
}

.recipe-desc {
    margin: 0 10%;
    color: white;
}

.recipe-desc-container {
    color: white;
    padding-bottom: 1%;
    p {
        margin: 0 10%;
    }
}

.recipe-tech {
    margin: 0 10%;
    color: white;
}

.recipe-tech-container {
    color: white;

    p {
        margin: 0 10%;
    }
}