<div class="projects-container">

  <div class="btn-group recipe" role="group" aria-label="Basic example">
    <h4 class="recipelist-project-label">Recipe List Project : </h4>
    <button type="button" class="btn btn-success middle"
      onclick="window.open('https://anidata.netlify.app/home');">Website Link</button>
    <button type="button" class="btn btn-success right"
      onclick="window.open('https://github.com/vaphi/watchani');">Github Link</button>
  </div>

  <div class="recipe-desc-container">
    <h5 class="recipe-desc">Description: </h5>
    <p>
      Created with Angular and used Material UI for
      majority of user interface. Utilized AniList's Api to retrieve
      anime and manga information.

    </p>
  </div>

  <div class="recipe-tech-container">
    <h5 class="recipe-tech">Technologies: </h5>
    <p>
      Angular, AniList API, Material UI
    </p>
  </div>

  <div id="carouselAniDataIndicators" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselAniDataIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselAniDataIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselAniDataIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="500000">
        <img class="img" src="assets/images/anidata1.png" />
      </div>
      <div class="carousel-item" data-bs-interval="500000">
        <img class="img" src="assets/images/anidata2.png" />
      </div>
      <div class="carousel-item" data-bs-interval="500000">
        <img class="img" src="assets/images/anidata3.png" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAniDataIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAniDataIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="btn-group recipe" role="group" aria-label="Basic example">
    <h4 class="recipelist-project-label">Recipe List Project : </h4>

    <button type="button" class="btn btn-success middle"
      onclick="window.open('https://myrecipelist.netlify.app');">Website Link</button>
    <button type="button" class="btn btn-success right"
      onclick="window.open('https://github.com/vaphi/recipelist-public');">Github Link</button>
  </div>

  <div class="recipe-desc-container">
    <h5 class="recipe-desc">Description: </h5>
    <p>
      Created with React and used BootStrap for majority
      of user interface. Use NestJS+Node for the server and PostgreSQL for
      the DB. Currently moving to a VPS, serving Nginx+FrontEnd+BackEnd in docker containers.

    </p>
  </div>

  <div class="recipe-tech-container">
    <h5 class="recipe-tech">Technologies: </h5>
    <p>
      NestJS, NodeJS, PostgreSQL, Docker, React, BootStrap
    </p>
  </div>

  <div id="carouselRecipeIndicators" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="50000">
        <img class="img" src="assets/images/recipe1.png" />
      </div>
      <div class="carousel-item" data-bs-interval="500000">
        <img class="img" src="assets/images/recipe2.png" />
      </div>
      <div class="carousel-item" data-bs-interval="500000">
        <img class="img" src="assets/images/recipe3.png" />
      </div>
      <div class="carousel-item" data-bs-interval="500000">
        <img class="img" src="assets/images/recipe4.png" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselRecipeIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>