.top-bar-container {
    background-image: linear-gradient(black, #52435e);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-bar-tab {
    display: flex;
    justify-content: center;
    max-width: 15%;
    padding: 1%;
}

.tab-container {
    background: linear-gradient(to right, black 50%, white 50%);
    background-position: right bottom;
    transition: all 0.5s ease-out;

    color: white;
    border: none;
    background: none;
    font-size: 18px;
    font-family: "ArcadeClassic", sans-serif;
    cursor: pointer;

    &:hover {
        transition: all 0.6s ease-out;
        color: #cc6b8e;
    }
}
